# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project Logs
logs/
*.log

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Docker
docker-compose.override.yml
